body {
  font-family: Tahoma, sans-sarif;
}

a {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: underline;
}

.mainHeader {
  height: 101px;
  background-image: url('../images/shared/header_bg.jpg');
  background-repeat: repeat-x;
  background-position: left center;
}

.mainContainer {
  width: 960px;
  margin: 0 auto;
}

.mainContainer .logo {
  float: left;
  width: 194px;
  height: 101px;
  background-image: url('../images/shared/logo.jpg');
  background-repeat: no-repeat;
  background-position: left center;
}

.mainContainer ul.mainNavigation {
  float: right;
  width: 750px;
  padding-top: 28px;
}
.mainContainer ul.mainNavigation li {
  display: block;
  float: right;
  margin-left: 10px;
}
.mainContainer ul.mainNavigation li a {
  display: block;
  height: 35px;
  line-height: 33px;
  background-image: none;
  background-repeat: repeat-x;
  background-position: left center;
  text-decoration: none;
  font-weight: normal;
  padding: 0 10px;
  border: 0px none;
  font-size: 14px;
}
.mainContainer ul.mainNavigation li a:link,
.mainContainer ul.mainNavigation li a:visited {
  color: #ffffff;
}
.mainContainer ul.mainNavigation li a:hover,
.mainContainer ul.mainNavigation li a:active,
.mainContainer ul.mainNavigation li.selected a {
  color: #ffffff;
  background-image: url('../images/shared/navigation_menu_bg.jpg');
}

.welcome {
  height: 499px;
  background-image: url('../images/shared/welcome_bg.jpg');
  background-repeat: repeat-x;
  background-position: left center;
}
.welcome .banner {
  height: 482px;
  background-image: url('../images/shared/welcome_banner.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumb {
  padding-bottom: 18px;
  background-image: url('../images/shared/breadcrumb_shadow.png');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #e8e8e8;
}
.breadcrumb .wrapper {
  height: 39px;
  line-height: 39px;
  background-image: url('../images/shared/breadcrumb_bg.jpg');
  background-repeat: repeat-x;
  background-position: top;
}
.breadcrumb ul li {
  list-style-type: none;
  float: left;
  margin-right: 10px;
  font-size: 12px;
}
.breadcrumb ul li a {
  color: #000;
}
.breadcrumb ul li a:link,
.breadcrumb ul li a:visited {
  
}
.breadcrumb ul li a:hover,
.breadcrumb ul li a:active {
  text-decoration: underline;
}
.breadcrumb ul li span {
  color: #fff002;
}

.mainContent {
  background-color: #e8e8e8;
  padding-bottom: 30px;
}

.mainContent .frontText {
  padding: 30px 0;
}
.mainContent .frontText .top {
  height: 16px;
  background-image: url('../images/home/fronttext_top.png');
  background-repeat: no-repeat;
  background-position: center center;
}
.mainContent .frontText .mid {
  background-image: url('../images/home/fronttext_mid.png');
  background-repeat: repeat-y;
  background-position: center center;
  padding: 10px 20px 13px;
  text-align: center;
}
.mainContent .frontText .mid p {
  font-size: 18px;
  color: #ffffff;
}
.mainContent .frontText .bottom {
  height: 14px;
  background-image: url('../images/home/fronttext_bottom.png');
  background-repeat: no-repeat;
  background-position: center center;
}

.mainContent .infoWrapper {
  padding: 15px 0 0px;
}

.mainContent .infoSidebar {
  float: left;
  width: 170px;
  padding-right: 10px;
}
.mainContent .infoSidebar .searchBox {
  padding-bottom: 10px;
}
.mainContent .infoSidebar .searchBox input.searchInput {
  border: 1px solid #7d7c7c;
  width: 120px;
  padding: 3px 5px;
}
.mainContent .infoSidebar .searchBox input.searchSubmit {
  border: 0px solid;
  background-color: transparent;
  background-image: url('../images/info/magnify.png');
  background-repeat: no-repeat;
  background-position: top right;
  width: 20px;
  height: 21px;
  margin-left: 5px;
  cursor: pointer;
}
.mainContent .infoSidebar .box .header {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #FFF;
  padding-bottom: 3px;
}
.mainContent .infoSidebar .box .list {
  border-top: 1px solid #b3b3b3;
  padding: 3px 0 15px 0;
}
.mainContent .infoSidebar .box .list ul {
  padding-left: 14px;
}
.mainContent .infoSidebar .box .list ul li {
  list-style-type: square;
  font-size: 12px;
}
.mainContent .infoSidebar .box .list ul li a {
  color: #000;
}

.mainContent .infoContentWrapper {
  border-left: 1px solid #fff;
  float: left;
  width: 779px;
}
.mainContent .infoContent {
  padding-left: 10px;
  border-left: 1px solid #b3b3b3;
}
.mainContent .infoContent .box {
  padding-bottom: 10px;
}

.mainContent .infoContent .box .boxHeader {
  height: 38px;
  background-image: url('../images/info/infocontent_box_bg.png');
  background-repeat: no-repeat;
  background-position: top right;
  color: #fff;
  font-size: 12px;
}
.mainContent .infoContent .box .boxHeader .views {
  float: right;
  padding: 10px 30px 0 0;
  text-align: center;
  width: 150px;
}
.mainContent .infoContent .box .boxHeader .views .count {
  color: #ff9702;
}

.mainContent .infoContent .box .boxBody {
  background-color: #fff;
  padding: 0 20px 20px;
}

.mainContent .infoContent .box .resultHeader,
.mainContent .infoContent .box h2,
.mainContent .infoContent .box h2.topic a {
  color: #ff7b02;
  font-size: 24px;
}
.mainContent .infoContent .box h2 {
  width: 530px;
}
.mainContent .infoContent .box .resultHeader {
  padding-top: 15px;
}

.mainContent .infoContent .box .resultCount,
.mainContent .infoContent .box .date {
  padding: 3px 0 15px;
  color: #919191;
  font-size: 10px;
}
.mainContent .infoContent .box .content .image {
  float: left;
  width: 130px;
  margin-right: 20px;
  font-size: 0px;
  line-height: 0px;
}
.mainContent .infoContent .box .content .image img {
  border: 5px solid #000;
}
.mainContent .infoContent .box .content .imageFull {
  text-align: center;
  margin-bottom: 10px;
}
.mainContent .infoContent .box .content .imageFull img {
  max-width: 718px;
  border: 5px solid #000;
}
.mainContent .infoContent .box .content .text {
  color: #505150;
  height: 80px;
  overflow: hidden;
}
.mainContent .infoContent .box .content .text * {
  font-size: 12px !important;
  line-height: 16px !important;
}
.mainContent .infoContent .box .content .textFull {
  color: #505150;
  font-size: 12px;
}
.mainContent .infoContent .box .content p {
  margin-bottom: 16px;
}
.mainContent .infoContent .box .content ul,
.mainContent .infoContent .box .content ol {
  padding-left: 20px;
  margin-bottom: 10px;
}
.mainContent .infoContent .box .content .readMore {
  background-image: url("../images/info/readmore.png");
  background-position: right top;
  background-repeat: no-repeat;
  float: right;
  padding-left: 13px;
  width: 68px;
  margin-top: 20px;
}
.mainContent .infoContent .box .content .readMore a {
  display: block;
  color: #fff;
  font-size: 12px;
  height: 31px;
  line-height: 28px;
}
.mainContent .infoContent .box .resultArea h2 {
  display: inline;
  font-size: 14px;
}
.mainContent .infoContent .box .resultArea h2 a {
  color: #000;
  font-weight: bold;
}
.mainContent .infoContent .box .resultArea h3 {
  display: inline;
  font-size: 10px;
  font-weight: normal;
}
.mainContent .infoContent .pagination {
  text-align: right;
  font-size: 12px;
}
.mainContent .infoContent .pagination, 
.mainContent .infoContent .pagination a {
  color: #000;
}
.mainContent .infoContent .pagination strong {
  font-weight: bold;
  color: #ff9202;
}

.mainContent .rentWrapper {
  background-color: #fff;
  padding: 20px;
}
.mainContent .rentWrapper h2 {
  text-align: center;
  padding-bottom: 20px;
}
.mainContent .rentWrapper table {
  width: 920px;
  border-bottom: 1px solid #000;
}
.mainContent .rentWrapper table tr td,
.mainContent .rentWrapper table tr th {
  font-size: 12px;
  padding: 2px 5px;
}
.mainContent .rentWrapper table tr th {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  background-color: #ff9702;
  border: 1px solid #000;
}
.mainContent .rentWrapper table tr th.no {
  width: 30px;
}
.mainContent .rentWrapper table tr th.name {
  width: 100px;
}
.mainContent .rentWrapper table tr th.size {
  width: 229px;
}
.mainContent .rentWrapper table tr th.note {
  width: 150px;
}
.mainContent .rentWrapper table tr th.price_daily,
.mainContent .rentWrapper table tr th.price_monthly {
  background-color: #fabf8f;
}
.mainContent .rentWrapper table tr th.with_fuel,
.mainContent .rentWrapper table tr th.without_fuel {
  width: 40px;
  background-color: #fde9d9;
}
.mainContent .rentWrapper table tr th.trans_in,
.mainContent .rentWrapper table tr th.trans_ex {
  width: 70px;
  background-color: #fabf8f;
}
.mainContent .rentWrapper table tr td.no {
  text-align: center;
}
.mainContent .rentWrapper table tr td.price_daily_fuel,
.mainContent .rentWrapper table tr td.price_daily,
.mainContent .rentWrapper table tr td.price_monthly_fuel,
.mainContent .rentWrapper table tr td.price_monthly,
.mainContent .rentWrapper table tr td.trans_in,
.mainContent .rentWrapper table tr td.trans_ex {
  text-align: right;
}
.mainContent .rentWrapper table tr.head td {
  border-top: 1px solid #000;
}
.mainContent .rentWrapper table tr.child td {
  border-top: 1px solid #ccc;
}
.mainContent .rentWrapper table tr td {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.mainFooter {
  height: 96px;
  background-image: url('../images/shared/footer_bg.jpg');
  background-repeat: repeat-x;
  background-position: center center;
}
.mainFooter .copyright {
  text-align: right;
  color: #959595;
  font-size: 11px;
  padding-top: 70px;
}
.mainFooter .copyright a {
}
.mainFooter .copyright a:link,
.mainFooter .copyright a:visited {
  color: #f90c55;
}
.mainFooter .copyright a:hover,
.mainFooter .copyright a:active {
  color: #f90c55;
}